body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}
#specialDiv{
  display: flex;
   justify-content: center;
  align-items: center;
}
.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}
.darkModeBox{
  background-color: #222 !important;
  color: #fff !important;
  border: 2px solid red !important; 
}

.darkModeBtn{
  background-color: black;
  color: white;
  border: 10px solid black;
}

.dark{
  background-color: black;
  color: white;
}